#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10
#define APP_SW 5

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <behaviors/runtime-sensor-rotate.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    behaviors {
        rsr_vol: rsr_vol {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <5>;
            cw-binding = <&kp C_VOL_UP>;
            ccw-binding = <&kp C_VOL_DN>;
        };

        rsr_trans: rsr_trans {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <0>;
        };

        grave_cmd: grave_cmd {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp GRAVE>, <&kp TAB>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
            keep-mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        grave_alt: grave_alt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&grave_cmd>, <&kp LG(TAB)>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        shift_ctrl: shift_ctrl {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&sk>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            quick-tap-ms = <125>;
        };

        lc0_morph: lc0_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mt LS(LA(LC(LGUI))) ESC>, <&kp LSHFT>;
            mods = <(MOD_LCTL)>;
            keep-mods = <(MOD_LCTL)>;
        };

        grave_ctrl: grave_ctrl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&grave_alt>, <&kp TAB>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
            keep-mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        space_mod: space_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            quick-tap-ms = <125>;
        };

        td_lshft: td_lshft {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&caps_word>;
        };

        td_rshft: td_rshft {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt LSHFT ENTER>, <&caps_word>;
        };

        wm_left: wm_left {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(LC(LG(LEFT))))>, <&kp LA(LC(LG(LEFT)))>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        wm_down: wm_down {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(LC(LG(DOWN))))>, <&kp LA(LC(LG(DOWN)))>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        wm_up: wm_up {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(LC(LG(UP))))>, <&kp LA(LC(LG(UP)))>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        wm_right: wm_right {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(LC(LG(RIGHT))))>, <&kp LA(LC(LG(RIGHT)))>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        appsw_cmd: appsw_cmd {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp GRAVE>, <&app_sw_enter>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        fk1: fk1 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp EXCL>, <&kp F1>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        fk2: fk2 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp AT>, <&kp F2>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        fk3: fk3 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp HASH>, <&kp F3>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        fk4: fk4 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DLLR>, <&kp F4>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        fk5: fk5 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PRCNT>, <&kp F5>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        fk6: fk6 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp CARET>, <&kp F6>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        fk7: fk7 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp AMPS>, <&kp F7>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        fk8: fk8 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp ASTRK>, <&kp F8>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        fk9: fk9 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N9>, <&kp F9>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        fk10: fk10 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N0>, <&kp F10>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        vn_o: vn_o {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&none>, <&kp F11>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        vn_p: vn_p {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LG(V)>, <&kp F12>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        sym_o: sym_o {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PLUS>, <&kp F11>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        sym_p: sym_p {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp F12>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        lt_tp: lt_tp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            quick-tap-ms = <125>;
        };

        mt_tp: mt_tp {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            quick-tap-ms = <125>;
        };

        em_dash: em_dash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp LS(LA(MINUS))>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        minus_nine: minus_nine {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp N9>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        equal_zero: equal_zero {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp N0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
        };

        vimnav_combo {
            bindings = <&mo 1>;
            key-positions = <34 35>;
            timeout-ms = <100>;
            require-prior-idle-ms = <200>;
            slow-release;
        };

        browser_nav_combo {
            bindings = <&mo 6>;
            key-positions = <43 44>;
            timeout-ms = <100>;
            require-prior-idle-ms = <200>;
            slow-release;
        };

        numrow_on_combo {
            bindings = <&to 8>;
            key-positions = <46 47>;
            layers = <0>;
            timeout-ms = <100>;
            require-prior-idle-ms = <200>;
        };

        numrow_off_combo {
            bindings = <&to 0>;
            key-positions = <46 47>;
            layers = <8>;
            timeout-ms = <100>;
            require-prior-idle-ms = <200>;
        };
    };

    macros {
        app_sw_enter: app_sw_enter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LGUI>,
                <&macro_wait_time 80>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_tap>,
                <&tog APP_SW>;
        };

        app_sw_confirm: app_sw_confirm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp ENTER>,
                <&macro_tap>,
                <&tog APP_SW>;
        };

        app_sw_cancel: app_sw_cancel {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LGUI>,
                <&macro_tap>,
                <&kp ESC>,
                <&macro_tap>,
                <&tog APP_SW>;
        };

        SHIFT_MCLK: SHIFT_MCLK {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_press>,
                <&mkp MB3>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LEFT_SHIFT &mkp MB3>;

            label = "SHIFT_MCLK";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
// LA0          LA1        LA2           LA3           LA4     LA5          | MA |           RA0        RA1        RA2        RA3              RA4         RA5
&grave_ctrl  &kp N1     &kp N2        &kp N3        &kp N4  &kp N5    &kp UP_ARROW     &kp N6  &kp N7   &kp N8  &minus_nine      &equal_zero  &kp BACKSPACE
// LB0        LB1        LB2           LB3           LB4     LB5          | MB |           RB0        RB1        RB2        RB3              RB4         RB5
&kp TAB     &kp Q      &kp W         &kp E         &kp R   &kp T        &kp DOWN_ARROW   &kp Y      &kp U      &kp I      &kp O            &kp P       &kp LBKT
// LC0        LC1        LC2           LC3           LC4     LC5          | MC |           RC0        RC1        RC2        RC3              RC4         RC5
&lc0_morph    &kp A      &kp S         &lt 2 D       &lt 1 F  &lt 3 G        &kp LEFT_ARROW   &kp H      &kp J      &kp K      &kp L            &kp SEMI    &kp APOS
// LD0        LD1        LD2           LD3           LD4     LD5          | MD |           RD0        RD1        RD2        RD3              RD4         RD5
&td_lshft   &mt_tp LCTRL Z      &kp X         &kp C         &kp V   &kp B        &kp RIGHT_ARROW  &kp N      &kp M      &kp COMMA  &kp DOT          &kp FSLH    &mt LSHFT ENTER
// LE0        LE1        LE2           LE3           LE4     LE5          | ME |           RE0       RE1        RE2           RE3           RE4
&kp C_MUTE  &sk LCTRL  &mt LALT PLUS  &mt LGUI MINUS  &mo 1   &space_mod LGUI SPACE    &kp ENTER        &space_mod LALT SPACE  &lt_tp 7 SPACE  &kp RGUI  &kp RALT      &mo 4
            >;

            sensor-bindings = <&rsr_vol &rsr_trans>;
            display-name = "main";
        };

        layer_1 {
            bindings = <
// LA0    LA1           LA2     LA3     LA4     LA5     | MA |   RA0        RA1     RA2     RA3     RA4        RA5
&app_sw_enter   &fk1   &fk2   &fk3   &fk4   &fk5     &none   &fk6   &fk7   &fk8   &fk9   &fk10   &kp LA(BACKSPACE)
// LB0    LB1     LB2     LB3     LB4     LB5     | MB |   RB0        RB1     RB2     RB3    RB4    RB5
&app_sw_enter   &none   &kp LA(RIGHT)   &kp END   &none   &none     &none   &kp LG(C)  &kp LG(Z)   &kp HOME   &vn_o   &vn_p  &kp RBKT
// LC0    LC1     LC2     LC3     LC4     LC5     | MC |   RC0        RC1      RC2     RC3     RC4     RC5
&trans   &kp HOME   &kp LA(SPACE)   &kp DEL   &none   &none     &none   &kp LEFT   &kp DOWN &kp UP  &kp RIGHT &none  &none
// LD0     LD1     LD2     LD3     LD4     LD5     | MD |   RD0     RD1     RD2     RD3     RD4     RD5
&trans  &none   &none   &none   &none   &kp LA(LEFT)     &none   &none   &none   &none   &none   &none   &trans
// LE0    LE1     LE2     LE3     LE4     LE5     | ME |   RE0     RE1     RE2     RE3     RE4
&none   &trans   &trans   &trans   &none   &kp LG(SPACE)     &none   &kp LA(SPACE)   &none   &trans   &trans   &none
            >;

            sensor-bindings = <&rsr_vol &rsr_trans>;
            display-name = "vimnav";
        };

        layer_2 {
            bindings = <
// LA0    LA1     LA2     LA3     LA4     LA5     | MA |   RA0          RA1        RA2        RA3     RA4     RA5
&none   &fk1   &fk2   &fk3   &fk4   &fk5     &none   &fk6   &fk7   &fk8   &fk9   &fk10   &trans
// LB0    LB1     LB2     LB3     LB4     LB5     | MB |   RB0          RB1        RB2        RB3      RB4      RB5
&none   &none   &none   &none   &none   &none     &none   &kp CARET    &kp LPAR   &kp RPAR   &sym_o   &sym_p   &kp RBKT
// LC0    LC1     LC2     LC3     LC4     LC5     | MC |   RC0          RC1        RC2        RC3     RC4     RC5
&trans   &none   &none   &none   &none   &none     &none   &kp UNDER        &kp LBRC   &kp RBRC   &em_dash   &none   &kp BSLH
// LD0     LD1     LD2     LD3     LD4     LD5     | MD |   RD0          RD1        RD2        RD3     RD4     RD5
&trans  &none   &none   &none   &none   &none     &none   &kp AMPS        &kp LBKT   &kp RBKT   &none   &none   &trans
// LE0    LE1     LE2     LE3     LE4     LE5     | ME |   RE0     RE1     RE2     RE3     RE4
&none   &trans   &trans   &trans   &none   &none     &none   &none   &none   &trans   &trans   &none
            >;

            display-name = "symbols";
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        layer_3 {
            bindings = <
// LA0    LA1     LA2     LA3     LA4     LA5     | MA |   RA0     RA1     RA2     RA3     RA4     RA5
&trans  &bootloader  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LB0    LB1     LB2     LB3     LB4     LB5     | MB |   RB0     RB1     RB2     RB3     RB4     RB5
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LC0    LC1     LC2     LC3     LC4     LC5     | MC |   RC0       RC1       RC2     RC3        RC4     RC5
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &wm_left  &wm_down  &wm_up  &wm_right  &trans  &trans
// LD0    LD1     LD2     LD3     LD4     LD5     | MD |   RD0     RD1     RD2     RD3     RD4     RD5
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LE0    LE1     LE2     LE3     LE4     LE5     | ME |   RE0     RE1     RE2     RE3     RE4
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "winmgmt";
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        layer_4 {
            bindings = <
// LA0    LA1            LA2            LA3            LA4            LA5     | MA |   RA0     RA1     RA2     RA3     RA4     RA5
&trans  &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &trans    &trans  &trans  &trans  &trans  &trans  &trans  &bootloader
// LB0    LB1     LB2     LB3     LB4     LB5     | MB |   RB0     RB1     RB2     RB3     RB4     RB5
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LC0    LC1     LC2     LC3     LC4     LC5     | MC |   RC0     RC1     RC2     RC3     RC4     RC5
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LD0    LD1     LD2     LD3     LD4     LD5     | MD |   RD0     RD1     RD2     RD3     RD4     RD5
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LE0    LE1     LE2     LE3     LE4     LE5     | ME |   RE0     RE1     RE2     RE3     RE4
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "LAYER4";
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        layer_5 {
            bindings = <
// LA0        LA1     LA2     LA3     LA4     LA5     | MA |   RA0     RA1     RA2     RA3     RA4     RA5
&kp TAB     &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LB0    LB1     LB2     LB3     LB4     LB5     | MB |   RB0     RB1     RB2     RB3     RB4     RB5
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LC0              LC1     LC2     LC3     LC4     LC5     | MC |   RC0        RC1        RC2      RC3        RC4     RC5
&app_sw_cancel  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT   &kp DOWN   &kp UP   &kp RIGHT  &trans  &trans
// LD0    LD1     LD2     LD3     LD4     LD5     | MD |   RD0     RD1     RD2     RD3     RD4     RD5
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &app_sw_confirm
// LE0    LE1     LE2     LE3               LE4     LE5               RE0               RE1     RE2     RE3     RE4     RE5
&trans  &trans  &trans  &app_sw_confirm  &trans  &app_sw_confirm    &app_sw_confirm  &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "appsw";
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        layer_6 {
            bindings = <
// LA0    LA1     LA2     LA3     LA4     LA5     | MA |   RA0     RA1     RA2     RA3     RA4     RA5
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LB0    LB1     LB2     LB3     LB4     LB5     | MB |   RB0     RB1     RB2     RB3     RB4     RB5
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LC0    LC1     LC2     LC3     LC4     LC5     | MC |   RC0                  RC1                  RC2             RC3             RC4     RC5
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LC(LS(TAB))  &kp LC(TAB)  &kp LC(LS(TAB))  &kp LC(TAB)  &trans  &trans
// LD0    LD1     LD2     LD3     LD4     LD5     | MD |   RD0     RD1     RD2     RD3     RD4     RD5
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LE0    LE1     LE2     LE3     LE4     LE5     | ME |   RE0     RE1     RE2     RE3     RE4
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "browsernav";
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        layer_7 {
            bindings = <
// LA0              LA1           LA2           LA3           LA4           LA5           | MA |   RA0     RA1     RA2     RA3     RA4     RA5
&app_sw_enter  &kp LA(N1)    &kp LA(N2)    &kp LA(N3)    &kp LA(N4)    &kp LA(N5)      &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LB0              LB1     LB2     LB3     LB4     LB5                              | MB |   RB0     RB1                              RB2                              RB3                              RB4     RB5
&app_sw_enter  &trans  &trans  &trans  &trans  &kp LS(LA(LC(LG(T))))      &trans  &trans  &trans  &kp LS(LA(LC(LG(I))))  &kp LS(LA(LC(LG(O))))  &trans  &trans
// LC0              LC1           LC2           LC3           LC4           LC5           | MC |   RC0     RC1     RC2     RC3     RC4     RC5
&app_sw_enter  &kp LA(N1)    &kp LA(N2)    &kp LA(N3)    &kp LA(N4)    &kp LA(N5)      &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LD0    LD1     LD2     LD3     LD4     LD5     | MD |   RD0     RD1     RD2     RD3     RD4     RD5
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LE0    LE1     LE2     LE3     LE4     LE5     | ME |   RE0     RE1     RE2     RE3     RE4
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "re2layer";
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };

        layer_8 {
            bindings = <
// LA0          LA1        LA2        LA3        LA4        LA5        | MA |           RA0        RA1        RA2        RA3        RA4        RA5
&grave_ctrl  &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp UP_ARROW     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp BACKSPACE
// LB0    LB1     LB2     LB3     LB4     LB5     | MB |   RB0     RB1     RB2     RB3     RB4     RB5
&trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LC0    LC1     LC2     LC3     LC4     LC5     | MC |   RC0     RC1     RC2     RC3     RC4     RC5
&trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LD0    LD1     LD2     LD3     LD4     LD5     | MD |   RD0     RD1     RD2     RD3     RD4     RD5
&trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans  &trans  &trans
// LE0    LE1     LE2     LE3     LE4     LE5     | ME |   RE0     RE1     RE2     RE3     RE4
&trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "numrow";
            sensor-bindings = <&rsr_vol &rsr_trans>;
        };
    };
};
